#input-container{
   max-width: 500px;
   overflow: hidden;
   background-color: hsl(0, 0%, 15%);
   font-family: Arial, Helvetica, sans-serif;
   border-radius: 15px;
   
}

#btn{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 25px;
    
}

button{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    border: none;
    color: white;
    font-size: 26px;
    font-weight: bold;
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
}

#display{
    background-color: hsl(0,0%,20%);
    color: white;
    width: 100%;
    border: none;
    height: 6rem;
    outline: none;
    text-align: left;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}


button:hover{
    background-color:hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator{
    background-color:hsl(39, 100%, 40%);
}

.operator:hover{
    background-color:hsl(39, 100%, 50%) ;
}
.operator:active{
    background-color: hsl(39, 100%, 60%);
}